<nav class="navbar bg-body-tertiary fixed-top navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Plant World</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-2" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-2" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-2" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</nav>
<div class="content">
  <div class="row">
      <div class="col-8">
          <div class="card">
              <div class="card-header bg-primary">
                  <div class="row">
                      <div class="col-6">Plant List</div>
                      <div class="col-6 text-end">
                      </div>
                  </div>
              </div>
              <div class="card-body">
                  <div class="row" >
                      <div class="col-3" *ngFor="let card of plantData">
                          <app-card [cardData] = "card"/>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-4">
          <div class="card">
              <div class="card-header bg-primary">
                  <div class="row">
                      <div class="col-6">Filter</div>
                      <div class="col-6 text-end">
                      </div>
                  </div>
              </div>
              <div class="card-body">
                  <div class="row">
                      <div class="col-6">
                          <label for="">Common Name 1</label>
                          <select class="form-control">
                            <option *ngFor="let name of plantData">{{name.common_name}}</option>
                          </select>
                      </div>
                      <div class="col-6">
                          <label for="">Scientific Name</label>
                          <select class="form-control">
                            <option *ngFor="let Sciencename of plantData">{{Sciencename.scientific_name}}</option>
                          </select>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-6">
                          <label for="">Common Name 2</label>
                          <select class="form-control">
                            <option *ngFor="let othername of plantData">{{
                              othername.other_name
                            }}</option>
                          </select>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button class="btn btn-success">Click Me</button>
                    </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="container-fluid">
    <router-outlet></router-outlet>
</div>

